@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blog-content h1 {
  /* color:#222222; */
  font-size: 26px;
  margin-bottom: 10px;
}

.blog-content h2 {
  color:#222222;
  font-size: 22px;
  margin-bottom: 4px;
}

.blog-content h3 {
  color:#222222;
  font-size: 20px;
  margin-bottom: 4px;
}

.blog-content h4 {
  color:#222222;
  font-size: 18px;
}

.blog-content h5 {
  color:#222222;
  font-size: 16px;
}

.blog-content-editor h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.blog-content-editor h2 {
  font-size: 22px;
  margin-bottom: 4px;
}

.blog-content-editor h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

.blog-content-editor h4 {
  font-size: 18px;
}

.blog-content-editor h5 {
  font-size: 16px;
}

.blog-content ul {
  list-style-type: disc;
  margin-left: 36px;
  margin-bottom: 30px;
}

.blog-content ol {
  list-style-type: decimal;
  margin-left: 36px;
  margin-bottom: 30px;
}